<a href="https://colab.research.google.com/github/alisabourii/Colabs/blob/main/Notebook_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Notebook 2 - Numbers, Strings, Variables, and Assignment Statements (Sayılar, Dizgiler, Değişkenler ve Atama İfadeleri)

Bu defteri kendi Google Drive'ına kaydetmek için menü çubuğundan

File → Save a copy in Drive seçeneğini kullanabilirsin.

Bu derste öğreneceklerin:
*   Python'da çalışabileceğin temel veri türleri
*   Değişkenlerin ne olduğu ve neden kullanışlı oldukları
*   Python'da değişkenlerin nasıl oluşturulup değer atandığı

##Veri Türleri

Python birkaç temel veri türü ile çalışmarktadır.
En yaygın olan üç tanesi:

*   Sayısal türler (numeric types)
    - Tamsayılar (integers)
    - Ondalıklı sayılar (floating point numbers)
*   Karakter dizileri (character strings)

###Sayısal Türler

Python iki ana sayısal türü destekler:
* int → tamsayı, örneğin:
  * `2024`
  * `-999999999999`
* float → ondalıklı sayı, örneğin:
  * `3.14159`
  * `3.8 * 10**6`

Genellikle hangi türü kullanacağını senin belirlemene gerek yoktur — Python bunu kendisi halleder.
Ondalık nokta (.) Python’a sayının float olduğunu söyler.

#### Sayısal / Aritmetik Operatörler

| operator | Sayılar Üzerinde İşlem | Dizgiler Üzerinde İşlem |
|----------|----------------------|---------------------|
+|Toplama|Birleştirme (concatenation)
-|Çıkarma|Tanımsız
*|Çarpma|Tekrarlama
//|Tamsayı bölme|Tanımsız
/|Ondalıklı bölme|Tanımsız
%|Mod (kalan)|Tanımsız
**|Üs alma|Tanımsız
()|Öncelik|Öncelik


Tamsayı ve float karıştırıldığında sonuç float olur.
Örneğin: `2024 * 3.14` sonucu bir ondalıklı sayıdır.

Bazı operatörleri deneyelim

```
print(5 - 6)  
print(8 * 9)
print(6 // 2)
print(6 / 2)
print(5.0 / 2)
print(5 % 2)  
print(2 * 10 + 3)  
print(2 * (10 + 3))  
print(2 ** 4)
```
Beklenmedik bir çıktı var mıydı?

In [ ]:
print(5 - 6)
print(8 * 9)
print(6 // 2)
print(6 / 2)
print(5.0 / 2)
print(5 % 2)
print(2 * 10 + 3)
print(2 * (10 + 3))
print(2 ** 4)

-1
72
3
3.0
2.5
1
23
26
16

###Dizgiler (Strings)

#### Temel Kurallar




* Dizgi (string) bir çift tırnak içine alınmış karakter dizisidir.
* Dizgiler, karakterlerden oluşan bir diziyi tek bir birim olarak işler.
* Dizgiler, “sıra (sequence)” adı verilen genel bir veri türü ailesine dahildir.
* Tek veya çift tırnak kullanılabilir ama tutarlı olmalısın.
* `"bu olur"` ve `'bu da olur'`
* `"bu olmaz'`, `'bu da olmaz"`

#### Dizgi İçinde Tırnak Kullanımı

Dizgi içinde tek ya da çift tırnak nasıl kullanılır?

Tek tırnak dizgisi içinde çift tırnak,

```
"this string's fine"
'but this doesn't work'
```
çift tırnak dizgisi içinde tek tırnak kullanılabilir:

```
'but this string is "A-OK"'
"but this "example" fails"
```

Alternatif olarak, ters bölü (backslash \) ile tırnak “kaçırılabilir”:

```
'Adam\'s string'
"I like \"The Office\""
```

#### Kaçış Dizileri (Escape Sequences)

Özel karakterleri dizgilere gömmek için kullanılır.

|Karakter|Kaçış Dizileri|
|---------|---------------|
|tab|\t|
|newline|\n|
|single quote|\\'|
|double quote|\\"|
|backslash|\\\\|

Bir sonraki adımda örneklerini inceleyin

In [ ]:
# Örnekler

print("Bu derste ne yapmak lazım: \"çalışmak\".")
print('Derse bu kadar uzak \t olmamalıyım')
print('line1\nline2\nline3')
print("field1\tfield2\tfield3")
print('c:\\directory\\file')
print('Peş peşe yazılabilir:\n1/1\t1/2\n2/1\t2/2')

Bu derste ne yapmak lazım: "çalışmak".
Derse bu kadar uzak 	 olmamalıyım
line1
line2
line3
field1	field2	field3
c:\directory\file
Peş peşe yazılabilir:
1/1	1/2
2/1	2/2

#### Üç Tırnaklı Dizgiler (Triple Quoted Strings)

Birden fazla satıra yayılan uzun dizgiler veya içinde hem ' hem " bulunan dizgiler için kullanılır:

In [ ]:
longstr = """
    This is a triple quoted string.
    It goes on for multiple lines.
    It contains things like ' and ",
    which would normally have to be escaped,
    but anything goes in a triple quoted string.
"""
print(longstr)

    This is a triple quoted string.
    It goes on for multiple lines.
    It contains things like ' and ",
    which would normally have to be escaped,
    but anything goes in a triple quoted string.

#### Alıştırma

Aşağıdaki ifadelerin geçerli Python dizgisi olup olmadığını belirtin:
1. `'Go ahead, make my day.'`
1. `"There's no place like home."`
1. `'Frankly my dear, I don't give a damn'`
1. `'Say "hello" to my little friend'`
1. `"You\'re gonna need a bigger boat"`
1. `'"You talkin' to me?"'`
1. `'Fasten your seatbelts, it\'s going to be a bumpy night'`
1. `'''Striker: "Surely you can't be serious!" Rumack: "I am serious... and don't call me Shirley".'''`
1. `"You had me at "hello"."`

In [27]:
print('''Striker: "Surely you can't be serious!" Rumack: "I am serious... and don't call me Shirley".''')

Striker: "Surely you can't be serious!" Rumack: "I am serious... and don't call me Shirley".

#### Dizgi (String) Operatörleri

`+` ve `*` izgiler üzerinde de kullanılabilir:

Aşağıdaki kodu çalıştırın. Hata hakkında ne söyleyebiliriz?

In [28]:
print("Cat")
print("Cat", "videos")
print("Cat" + 3)

Cat
Cat videos

TypeError: can only concatenate str (not "int") to str

In [29]:
print(33 + 33)
print(type(33+33))
print("33" + "33")
print(type("33" + "33"))

66
<class 'int'>
3333
<class 'str'>

In [30]:
print(33 * 3)
print("Python" * 3)

99
PythonPythonPython

#### Dizgiye Dönüştürme

Sayısal bir değeri dizgiye çevirmek için `str()`  fonksiyonu kullanılır:

In [33]:
print("Cat" + str(3))
print("Cat" + 3)

Cat3

TypeError: can only concatenate str (not "int") to str

#### Dizgi Metotları (String Methods)

* Metot: Belirli bir veri türüne bağlı, tekrar kullanılabilir bir kod parçasıdır.

* Noktadan (.) sonra çağrılır: `mystr.upper()`.

* Metot veri tipine özel kullanılmaktadır.
Ör. `.upper()` string için kullanılırken, integer ya da float için kullanılmaz.

In [34]:
print("Cat".upper())
print("Cat".lower())
print("the lord of the rings".title())

CAT
cat
The Lord Of The Rings

## Değişkenler (Variables)

Değişkenler, bir veri değerine verilen isimlerdir.

In [ ]:
name = 'Adam'
print(name)
name = 3.14
print(name)

### Değişken İsimlendirme Kuralları

Daha önce bahsettiğimiz üzere değişken belirlerken bazı kurallar vardır.

* Harf (letter) veya _ (alt çizgi, underscore) ile başlar.
* Devamında harf, rakam veya _ olabilir.
* Büyük/küçük harf fark yaratır:
name, Name, NAME farklı değişkenlerdir.
* Genellikle ingilizce harfler kullanılır. Türkçe karakterleri kullanmayın.

#### Challenge

Aşağıdaki Python değişken isimlerinin hangisi doğrudur?
```
average = 1
Max = 1
LadyGaGa = 1  
_Lady_Ga_Ga = 1
FiftyYardLine = 1    
50_yard_line = 1  
yard_line_50 = 1  
raise = 1  
my-cat-is-awesome = 1
my_cat_is_awesome = 1  
```

### Ayrılmış Kelimeler (Reserved Words)

Aşağıdaki kelimeler Python’da özel anlam taşır, değişken ismi olarak kullanılamazlar:

> ```and, as, assert, async, await, break, class, continue, def, del, elif, else, except, False, finally, for, from, global, if, import, in, is, lambda, nonlocal, None, not, or, pass, raise, return, True, try, while, with, yield```

### Sabitler (Constants) ve Değişkenler (Variables)

* Sabit değerler ("adam", 2024 gibi) değişmez.
* Değişkenler ise zamanla farklı değerler alabilir.

In [ ]:
customer_id = "1234"
account_balance = 1000
print("customer id:", customer_id, "account balance:", account_balance)

In [ ]:
account_balance = account_balance + 100
print("customer id:", customer_id, "account balance:", account_balance)

### F-strings

Değişkenleri, değerleri ve stringleri sıklıkla birleştirmemiz gerekir. Örneğin, aşağıdaki değişkenlerimiz varsa:

- `customer_id`
- `account_balance`

Yukarıdaki değerlerin her satırının özetlendiği bir rapor yazdırmak isteyebiliriz. Bunu şu şekilde yapabiliriz:

```
print("customer id: ", customer_id, ", account balance:", account_balance)
```
şu şekilde çıktı üretir.
```
customer id:  123 , account balance: 17.9
```

Bu tür bir yapı biraz sıkıcı olabiliyor. Ayrıca, müşteri kimliği ile onu takip eden virgül arasındaki boşluk istenmeyen bir durumdur.

Python'a nispeten yeni eklenen f-stringleri, bu soruna daha basit ve daha okunabilir bir çözüm sunuyor. Bir dizenin başına `f` karakterini eklerseniz, dizeye sihirli güçler kazandırırsınız. Özellikle, sting, süslü parantezler içindeki değişkenleri **interpole etme** yeteneğine sahiptir. Önceki `print` ifadesini bir f-dizesi kullanarak şu şekilde ifade edebiliriz:

```
print(f"customer id: {customer_id} account balance: {account_balance}")
```

Bu yöntem daha kısa, daha az sıkıcı, okunması ve yazılması daha kolay ve iki alan arasındaki virgülle ilgili biçimlendirme sorununu çözüyor.

Süslü parantezlerin içine herhangi bir Python kodu yerleştirebileceğinizi unutmayın, bu nedenle bu teknik oldukça etkilidir. Python'a alıştığınızda, f-dizelerini kullanmanın birçok harika yolunu bulacaksınız.

## Atama İfadeleri (Assignment Statements)

Atama ifadeleri, bir değişken adını basit veya karmaşık bir değerle ilişkilendirmek için kullanılır.

Bir atama ifadesinin genel biçimi şu şekildedir:  

    variable_name = 123

Eğer bir değişken daha önce oluşturulmamışsa, ona bir değer atadığınızda Python otomatik olarak bu değişkeni oluşturur.
Eğer zaten var olan bir değişkene yeni bir değer atarsanız, Python o değişkenin mevcut değerini sizin atadığınız yeni değerle değiştirir.

### ÖRnekler

    instructor = 'adam'         # string value
    instructor = 'eve' # same name, different string value
    instructor = 42             # same name, integer value
    todays_high_temp = 71.3     # diff name, floating point value

Bir sonraki adımda siz deneyin

In [ ]:
a = 0
print('a =', a)
a = 42
print('a =', a)
a = 3.14159
print('a =', a)
a = "Marc"
print('a =', a)

b = 42
print('a =', a, 'b =', b)

a = b
print('a =', a, 'b =', b)

b = 43
print('a =', a, 'b =', b)

### Kullanım Örneği

Hadi 9’un ilk 9 katını yazdıralım...

In [ ]:
# Sıkıcı versiyonu

print(1*9)
print(2*9)
print(3*9)
print(4*9)
print(5*9)
print(6*9)
print(7*9)
print(8*9)
print(9*9)

9
18
27
36
45
54
63
72
81

In [ ]:
# Nicer version...

factor = 9
print(1*factor)
print(2*factor)
print(3*factor)
print(4*factor)
print(5*factor)
print(6*factor)
print(7*factor)
print(8*factor)
print(9*factor)

Bu neden daha iyi? Dokuz yerine sekizlerin katlarını yazdırma gereksinimini düşünün. İlk örnekte kaç satırı değiştirmeniz gerekir? Peki ikinci örnekte?

İkinci örnek, kodun güncellenmesini çok daha kolay hale getirmek için bir değişken aracılığıyla yönlendirme (redirection) kullanır.
Bu, yazılım mühendisliğinde çok güçlü ve önemli bir kavramdır.

In [ ]:
# Coming soon...

factor = 8
for i in range(1, 9):
  print(i * factor)

8
16
24
32
40
48
56
64

## Temel Noktalar
- Python’daki temel veri türleri tamsayılar (integers), kayan noktalı sayılar (floating-point numbers) ve dizgilerdir (strings) (başka türler de vardır ancak biz bunlarla başlayacağız).
- Bir değeri bellekte saklamak için `variable = value` şeklinde bir ifadeyle değişkene değer atayın.
- Değişkenler, ilk kez onlara bir değer atandığında kendiliğinden oluşturulur.

## Alıştırmalar

### Problem 1

Kullanıcıdan adını isteyin ve ardından şu şekilde ekrana yazdırın:
“Tanıştığıma memnun oldum, <isim>!”

In [ ]:
#Kodu buraya yazın
ad = input("Adınızı giriniz: ")
print(ad,"Tanıştığıma memnun oldum, !")

Adınızı giriniz: Ali
Ali Tanıştığıma memnun oldum, !

In [ ]:
#@title Cevabı görmek için iki kere tıklayın

name = input ('What is your name? ')
print ('Nice to meet you,', name +'!')

### Problem 2

Kullanıcıdan köpeğinin yaşını isteyin ve bunu insan yaşı cinsinden şu biçimde ekrana yazdırın:

X köpek yılı = Y insan yılı.

In [ ]:
#Kodu buraya yazın
kopek_yas = int(input(" köpeğinizin yaşını giriniz? "))
print(kopek_yas*5," köpek yılı =",kopek_yas,"insan yılı.")

 köpeğinizin yaşını giriniz? 3
15  köpek yılı = 3 insan yılı.

In [ ]:
#@title Cevabı görmek için iki kere tıklayın

dog_to_people_years = 7
dog_age = input('How old is your dog? ')
people_age = int(dog_age) * dog_to_people_years
print(dog_age,'dog years =',  str(people_age), 'people years.')

### Problem 3

Belirli bir gün sayısındaki toplam saat miktarını hesaplayan bir program yazın.
Gün sayısı bir değişkene atanmış olmalıdır.

In [8]:
#Kodu buraya yazın
gunSayisi = int(input("Gün sayınızı giriniz: "))
tplSaat = 0
tplSaat += gunSayisi*24
print("Toplam Süre:",tplSaat)

Gün sayınızı giriniz: 3
Toplam Süre: 72

In [ ]:
#@title Double click here to reveal solution

days = 365
hours = 24
total_hours = days * hours
msg = f'There are {total_hours} hours in {days} days.'
print(msg)

###Problem 4

Şimdiye kadar öğrendiğiniz tüm matematiksel operatörleri kullanan bir Python kodu yazın.

In [9]:
#Kodu buraya yazın
sayi = int(input("bir sayı gırınız: "))
for i in range(1,sayi+1):
  print("Mecut Iterator Sayı: ",i)
  print("Toplama: ",i+1)
  print("Çıkarma: ",i-1)
  print("Bölme: ",i/2)
  print("Çarpma: ",i*2)
  print("Mod alma: ",i%2)
  print("Powe: ",i**2)
  print("--------------------------")

bir sayı gırınız: 2
Mecut Iterator Sayı:  1
Toplama:  2
Çıkarma:  0
Bölme:  0.5
Çarpma:  2
Mod alma:  1
Powe:  1
--------------------------
Mecut Iterator Sayı:  2
Toplama:  3
Çıkarma:  1
Bölme:  1.0
Çarpma:  4
Mod alma:  0
Powe:  4
--------------------------

In [ ]:
#@title Double click here to reveal solution

a = 2 + 3
print(a)
a = 3 - 2
print(a)
a = 2 * 3
print(a)
a = 2 / 3
print(a)
a = 2 // 3
print(a)
a = 2 % 3
print(a)
a = 2 ** 3
print(a)
a = (2 + 3) * 4
print(a)

### Problem 5

Tek bir ifadede, beş günlük bir çalışma haftasında günde 100 dolar kazanıyorsanız haftalık maaşınızı hesaplayıp ekrana yazdırın.

In [11]:
print(5*100)

500

Günlük kazancınızı bir değişkende saklayın ve bu değişkeni kullanarak haftalık maaşınızı hesaplayıp ekrana yazdırın.

In [16]:
maasMik = 100
total = maasMik*5
print(total)

500

Tebrikler – zam aldınız! Yeni günlük kazancınız 120 dolar.
Günlük kazanç değişkenine yeni değeri atayın, ardından yeni haftalık maaşınızı hesaplayıp ekrana yazdırın.

In [17]:
maasMik = 120
total = maasMik*5
print("Yeni Maaş: ",total)

Yeni Maaş:  600

Bir haftadaki gün sayısını bir değişkende saklayın, ardından haftalık maaşınızı hesaplayıp ekrana yazdırın.

In [18]:
haftaGunSay = 5
maasMik = 120
total = haftaGunSay*maasMik
print(total)

600

Yalnızca değişkenleri kullanarak haftalık, aylık ve yıllık maaşınızı hesaplayıp ekrana yazdırın.
Haftada 5, ayda 20 ve yılda 240 iş günü olduğunu varsayın.

In [ ]:
hafta = 5
ay = 20
yil = 240
maas = 120
print("Haftada: ",hafta*maas)
print("Ayda: ",ay*maas)
print("Yılda: ",yil*maas)

Haftada:  600
Ayda:  2400
Yılda:  28800

Adınızı, ikinci adınızı ve soyadınızı her biri ayrı bir satırda olacak şekilde ekrana yazdırın.

In [ ]:
print("Ali\nEkbar\nSABOURI")

Ali
Ekbar
SABOURI

Print the your first, middle, and last name, all on one line.

In [ ]:
print("Ali Ekbar SABOURI")

Ali Ekbar SABOURI

In [26]:
#Çarpım Tablosu Core:
for i in range(1, 11):
  for j in range(1,11):
    print(i*j,end="\t")
  print()

1	2	3	4	5	6	7	8	9	10
2	4	6	8	10	12	14	16	18	20
3	6	9	12	15	18	21	24	27	30
4	8	12	16	20	24	28	32	36	40
5	10	15	20	25	30	35	40	45	50
6	12	18	24	30	36	42	48	54	60
7	14	21	28	35	42	49	56	63	70
8	16	24	32	40	48	56	64	72	80
9	18	27	36	45	54	63	72	81	90
10	20	30	40	50	60	70	80	90	100